.todoList {
  background-color: #078A93;
  opacity: 50%;
}
form button {
  background: #078A93;
  color: #fff;
  cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    size: 50px;
    
  }
  form button:hover {
  }

  .todo-input {
      background-color: #fff;
      font-family: 'Roboto';
      border-radius: 8px;
      border: solid;
      border-color: #078A93;
      height: 30px;
      width: 200px;
      margin-top: 30px;
      margin-bottom: 30px;
      
  }


  .todoList {
    display: flex;
    justify-content: center;
    align-items: center;
  }
